@import "tailwindcss";

@theme {
  --font-roboto: var(--font-roboto);
  --font-macondo: var(--font-macondo);
  --color-primary-blue: var(--color-blue-500)
}

html {
  scroll-behavior: smooth;
}

body {
  @apply !overflow-x-hidden font-roboto text-white bg-[#000014];
}

.container {
  @apply max-w-[1680px] px-4 md:px-7 lg:px-10 xl:px-16 2xl:px-20 mx-auto;
}

