@import "tailwindcss";

@theme {
  --font-roboto: var(--font-roboto);
  --font-macondo: var(--font-macondo);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply !overflow-x-hidden font-roboto text-white bg-[#000014];
}
