@import "tailwindcss";

@theme {
  --font-roboto: var(--font-roboto);
  --font-macondo: var(--font-macondo);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply !overflow-x-hidden font-roboto text-white bg-[#000014];
}

.container {
  @apply max-w-[1680px] px-10 xl:px-16 2xl:px-20 mx-auto;
}
