@import "tailwindcss";

@theme {
  --font-roboto: var(--font-roboto);
  --font-macondo: var(--font-macondo);
  --color-primary: var(--color-blue-500);
  --color-secondary: var(--color-sky-500);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply !overflow-x-hidden font-roboto text-white bg-[#000014];
}

.container {
  @apply max-w-[1680px] px-4 md:px-7 lg:px-10 xl:px-16 2xl:px-20 mx-auto;
}

/* .floating-badge {
  @apply px-4 py-2 rounded-full text-sm font-medium backdrop-blur-sm;
  background: hsl(var(--navy-lighter) / 0.8);
  border: 1px solid hsl(var(--border));
  animation: float 6s ease-in-out infinite;
} */
