@import "tailwindcss";

@theme {
  --color-primary-green: #63be60;
  --font-roboto: var(--font-roboto);
  --font-macondo: var(--font-macondo);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-roboto text-white bg-[#000014];
}
